html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 15px;
}
body {
    background-color: rgba(245, 245, 245, 1);
}
* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.text-selectable {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}
